/*---------------- GENERAL/BODY/ALL ------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

body {
    overflow: overlay;
}

/*---------------- FIRST PAGE ------------------------*/
section {
    min-height: 100vh;
    scroll-snap-align: start;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.big-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
}

.landing{
    color: black;
    min-height: 100vh; 
    background-size: cover;
    padding: 0rem 10%;
    position: relative;
}

.landing nav {
    position: relative;
    top: 7vh;
}

.nav-toggle{
    position: absolute;
    cursor: pointer;
    margin: 0rem;
    right: 0;
}

#nav-checkbox:checked ~ ul.nav-menu li{
    display: block;
}
#nav-checkbox:checked ~ label.nav-toggle .close{
    display: block;
}
#nav-checkbox:checked ~ label.nav-toggle .menu{
    display:none;
}

.nav-checkbox{
    display: none;
}

.close{
    display: none;
}

.menu{
    width: 1.5rem;
    filter: black;
}

.nav-menu{
    display: flex;
    flex-direction: column;
    gap: 15%;
}
.nav-menu li{
    list-style: none;
    display: none;
}
.nav-menu li:first-child{
    margin-right: auto;
    display: block;
}
.nav-menu a{
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    padding-left: 10rem;
    font-size: 1.2rem;
}

.logo{
    font-weight: lighter;
    cursor: pointer;
}

.intro{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    background: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    transform: translateY(100%);
}

.intro-text{
    color: black;
    font-size: 1rem;
}

.hide{
    background: black;
    overflow: hidden;
}

.hide span{
    transform: translateY(200%);
    display: inline-block;
    cursor: pointer;
    padding: 0rem 0.5rem;
    background-color: white;
}
.hide span:hover{
    background-color: black;
    color: white;
}

.code-outline{
    background-color: black;
    transform: translateY(12vh);
    max-height: 75vh;
    padding: 0rem 5%;
    padding-top: 5%;
    overflow: hidden;
}

#coding-text{
    font-family: monospace;
    color: white;
    min-height: 75vh;
    font-size: 1.75rem;
}

/*---------------- SECOND PAGE ------------------------*/

.led-showcase{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------- THIRD PAGE ------------------------*/
.three{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------- FOURTH PAGE ------------------------*/
.four{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------- debug? ------------------------*/
.findcenter{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* DESKTOP VIEW */
@media only screen and (min-width:1100px){
    .nav-toggle{
        display: none;
    }

    .nav-menu{
        flex-direction: row;
    }

    .nav-menu li{
        display: block;
        
    }
}

/*  MOBILE VIEW */
@media only screen and (max-width: 600px) {
    #coding-text {
      font-size: 1.3rem
    }
  }