* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

body {
    overflow: overlay;
}

section {
    min-height: 100vh;
    scroll-snap-align: start;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.big-text{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.landing{
    color: white;
    min-height: 100vh;
    background: url("./server_images/backimage.jpg");
    background-size: cover;
    padding: 0rem 5rem;
    position: relative;
}

.landing nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}


.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    padding-left: 10rem;
    font-size: 1.2rem;
}

.logo{
    font-weight: lighter;
    font-size: 2rem;
}



.intro{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    background: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    transform: translateY(100%);
}

.intro-text{
    color: rgb(147, 147, 147);
    font-size: 3rem;
}

.hide{
    background: black;
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
}

.led-showcase{
    background: url("./server_images/pishowcase.gif");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.three{
    background: rgb(67, 91, 175)
}
.four{
    background: lightsalmon
}

#welcome{
    font-size: 70px;
    opacity: .7;
}

.findcenter{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}